/*
Author: Kamilah Carlisle
Date: April 27, 2019
Purpose: Styling practice. This was one of the twitter sign up pages
and I tried to recreate it on my own.
*/


.leftBackground {
	position: fixed;
	right: 50%;
	width:50%;
	height: 100%;
	background-repeat: no-repeat;
	background-image: url("Twitter_Bird.svg.png");
	background-position: 150px;
	background-color: #1c94e0;
	color: white;
	
	
}
.iconContainer {
	display: grid;
	grid-template-columns: 20px auto;
	grid-gap: 30px;
	margin-left: 30%;
	margin-top: 30%;
	
}
.item1 {
	grid-row-start: 1;
	grid-column-start: 1;
	font-size: 30px;
	
}
.item2 {
	grid-row-start: 1;
	grid-column-start: 2;
	font-size: 20px;
	font-family: helvetica;
}
.item3 {
	grid-row-start: 2;
	grid-column-start: 1;
	font-size: 30px;
}
.item4 {
	grid-row-start: 2;
	grid-column-start: 2;
	font-size: 20px;
	font-family: helvetica;
}
.item5 {
	grid-row-start: 3;
	grid-column-start: 1;
	font-size: 30px;
}
.item6 {
	grid-row-start: 3;
	grid-column-start: 2;
	font-size: 20px;
	font-family: helvetica;;
}
i {
	/*display: inline-block;*/
	color: white;
	
}

.rightBackground {
	position: fixed;
	left: 50%;
	width: 50%;
	height: 100%;
	background-color: white;
}

.userName {
	margin-top: 20px;
	margin-left: 100px;
	width: 200px;
	border: 0.5px solid #D3D3D3;
	font-size: 13px;
	padding: 15px;
	color: #6c6c6c;
	border-radius: 5px;
	font-family: Helvetica;
	float: left;
}

.password {
	margin-top: 20px;
	margin-left: 10px;
	width: 200px;
	border: 0.5px solid #D3D3D3;
	font-size: 13px;
	padding: 15px;
	color: #6c6c6c;
	border-radius: 5px;
	font-family: Helvetica;
	float: left;
}

.topLogIn {
	margin-top: 20px;
	margin-left: 10px;
	background-color: white;
	border: 0.5px solid #009ACD;
	border-radius: 30px;
	font-family: Helvetica;
	font-size: 11px;
	padding: 15px;
	/*width: 35px;*/
	color: #1c94e0;
	float: left;
}
.logInContainer {
	text-align: left;
	margin-left: 30%;
}
.mainFont {
	font-family: Helvetica;
	font-size: 25px;	
}
.joinFont {
	font-family: Helvetica;
	font-size: 18px;
}
.bottomSignUp {
	width: 330px;
	padding: 5px;
	background-color: #009ACD;
	border-radius: 20px;
	color: white;
}

.bottomLogIn {
	width: 330px;
	padding: 5px;
	background-color: white;
	color: #009ACD;
	border: 0.5px solid #009ACD;
	border-radius: 50px;
}